.sigue {
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 75%;
    left: -34%;
    height: 70%;
    width: 100%;
}

.a {
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 63%;
    left: -29%;
    height: 70%;
    width: 100%;
}

.tu{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 56%;
    left: -45%;
    height: 70%;
    width: 100%;
}

.corazón{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 23%;
    left: -37%;
    height: 70%;
    width: 100%;
}

.el{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 2%;
    left: -29%;
    height: 70%;
    width: 100%;
}

.siempre{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 32%;
    left: -6%;
    height: 70%;
    width: 100%;
}

.conoce{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 57%;
    left: -6%;
    height: 70%;
    width: 100%;
}

.el2{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 50%;
    left: 11%;
    height: 70%;
    width: 100%;
}

.camino{
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 26%;
    left: 26%;
    height: 70%;
    width: 100%;
}

.algunas {
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 78%;
    left: -45%;
    height: 70%;
    width: 100%;
}

.veces{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 68%;
    left: -37%;
    height: 70%;
    width: 100%;
}

.el3{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 53%;
    left: -45%;
    height: 70%;
    width: 100%;
}

.camino2{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 22%;
    left: -29%;
    height: 70%;
    width: 100%;
}

.correcto {
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 2%;
    left: -29%;
    height: 70%;
    width: 100%;
}

.no{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 32%;
    left: -14%;
    height: 70%;
    width: 100%;
}

.es{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 50%;
    left: -21.5%;
    height: 70%;
    width: 100%;
}

.el4{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 70%;
    left: -14%;
    height: 70%;
    width: 100%;
}

.mas{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 85%;
    left: 10%;
    height: 70%;
    width: 100%;
}

.facil{
    text-align: center;
    color: rgb(248, 188, 211);
    font-size: 15px;
    font-family: "Alex Brush", cursive;
    position: fixed;
    top: 74%;
    left: 33%;
    height: 70%;
    width: 100%;
}
